# Default ignored files
/shelf/
/workspace.xml
__MACOSX/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Compiled class files
*.class
# Maven / Quarkus build output
target/
**/target/

# If jars are appearing outside target/ (rare, but possible)
*.jar

# IntelliJ
.idea/
*.iml

# logs
*.log

# quarkus dev
.quarkus/

# env
.env

# macOS
.DS_Store
__MACOSX/